.ct-column{
    background-image:url(../../assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 35em;
    margin-bottom: 5em;
}

.text-initial{
    padding-left: 2em;
    padding-top: 7.5em;
    padding-right: 45em;
}

.h3-initial{
    font-family: 'playfair_displaybold_italic';
    font-size: 2em;
    color: #757584;
}

.h1-initial{
    font-family: 'playfair_displaybold_italic';
    color: #795D8E;
    font-size: 4em;
}

.h2-initial{
    font-family: 'playfair_displaybold_italic';
    font-size: 2em;
    font-weight: bolder;
    color: #795D8D;
}

.h2-initial-p2{
    font-family: 'playfair_displaybold_italic';
    font-size: 2em;
    font-weight: bolder;
    color: #795D8D;
    margin: 0em;
    margin-bottom: 1em;
}

.ct-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pl-howto{
    font-family: 'playfair_displaybold_italic';
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
}

.ct-text{
    margin: 5em;
    padding-left: 5em;
    padding-right: 5em;

}

.mont-text{
    font-family: 'montserratregular';
    font-size: 2em;
    text-align: center;
    color: #795D8D;
    margin: 3em;
}

.a-downl{
    font-family: 'montserratextrabold';
    text-transform: uppercase;
    background-color: #A4D79A;
    color: #003F1F;
    padding: 0.8em 3em;
    font-size: 1em;
    font-weight:lighter;
    margin-bottom: 5em;
}

img{
    width: 35em;
    height: 20em;
}

.title{
    color: #78668e;
    font-family: 'playfair_displaybold_italic';
    margin-bottom: 1em;
}

.content{
    color: #78668e;
    font-family: 'montserratregular';
    line-height: 1em;
    font-size: larger;
    margin-top: 1em;

}

.ct-texto{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ct-text-p{
    background-color: #f1eff4;
    border-radius: 0.95em;
    width: 28.7em;
    padding: 2em 3em 2em 3em;
    margin-right: 2em;
}

.ct-text-p:hover, .ct-text-p-1:hover{
    transform: scale(1.05)
}

img:hover{
    transform: scale(1.05)
}

.ct-text-p-1{
    background-color: #f1eff4;
    border-radius: 0.95em;
    margin-left: 2em;
    width: 28.7em;
    padding: 2em 3em 2em 3em;
}

.ct-footer{
    background-color: #795d8e;
    margin-top: 15em;
    min-height: 30em;
}

.pl-downl{
    font-family: 'playfair_displaybold_italic';
    font-size: 3em;
    text-align: center;
    color:#ffffff;
    padding: 2em 3em 1em 3em;
}

.ct-input{
    padding: 1.5em 3em 1.5em 3em;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#text::placeholder {
    font-family: 'playfair_displaybold_italic';
    font-size: larger;
}

.inp-text-p1{
    font-family: 'playfair_displaybold_italic';
    font-size: larger;
    width: 20em;
    height: 3em;
    padding: 1em;
    margin-right: 4em;
    margin-left: 4em;
    box-sizing: border-box;
    text-align: start;
}

.inp-text{
    font-family: 'playfair_displaybold_italic';
    font-size: larger;
    width: 20em;
    height: 3em;
    padding: 1em;
    margin-right: 4em;
    box-sizing: border-box;
    text-align: start;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0;
}

.a-downl-2{
    font-family: 'montserratextrabold';
    text-transform: uppercase;
    text-align: center;
    background-color: #A4D79A;
    color: #003F1F;
    padding: 1em 8em;
    font-size: 1.4em;
    font-weight:lighter;
    margin-bottom: 5em;
}

a:hover{
    transform: scale(1.05);
}

.pl-howto:hover, .pl-downl:hover{
    transform: scale(1.05);
}

.downl-2{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

@media (max-width: 414px){
    a{}
}

@media (max-width: 767px){
    a{display: flex;
    justify-content: flex end;
    align-content: row;}
}

@media (max-width: 1024px){
    .ct-column{
        background-image:url(../../assets/images/banner1024.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 35em;
        margin-bottom: 5em;
    }

    .text-initial{
        padding-left: 2em;
        padding-top: 5.5em;
        padding-right: 35em;
    }

    .h3-initial{
        font-family: 'playfair_displaybold_italic';
        font-size: 1.5em;
        color: #757584;
    }

    .h1-initial{
        font-family: 'playfair_displaybold_italic';
        color: #795D8E;
        font-size: 2.9em;
    }

    .h2-initial{
        font-family: 'playfair_displaybold_italic';
        font-size: 1.5em;
        font-weight: bolder;
        color: #795D8D;
    }

    .h2-initial-p2{
        font-family: 'playfair_displaybold_italic';
        font-size: 1.5em;
        font-weight: bolder;
        color: #795D8D;
        margin: 0em;
        margin-bottom: 2.5em;
    }
    img{
        width: 28em;
        height: 24em;
    }

    .title{
        color: #78668e;
        font-family: 'playfair_displaybold_italic';
        margin-bottom: 1em;
    }

    .content{
        color: #78668e;
        font-family: 'montserratregular';
        line-height: 1em;
        font-size: larger;
        margin-top: 1em;

    }

    .ct-texto{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .ct-text-p{
        background-color: #f1eff4;
        border-radius: 0.95em;
        width: 25em;
        padding: 1em 1.5em 1em 1.5em;
        margin-right: 1.5em;
    }

    .ct-text-p-1{
        background-color: #f1eff4;
        border-radius: 0.95em;
        margin-left: 1.5em;
        margin-bottom: 0.9em;
        width: 25em;
        padding: 1em 1.5em 1em 1.5em;
    }

}

@media (max-width: 1920px){
    .ct-column{
        background-size: cover;
        min-height: 35em;
    }
    .a-downl{
        font-size: larger;
        
    }

}
